<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Login Admin</title>
</head>

<body>
    <div>
        <form action="../proceses/login.proc.php" method="post">
            <div>
                <input type="email" name="email" placeholder="Introduce el correo" class="casilla">
                <label>Correo electrónico</label>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" class="casilla">
                <label>Contraseña</label>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>

</html>